
.register-info{
  font-size: 1vw;
  line-height: 3vh;
  letter-spacing:0.1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.register-pass-upload{
  font-size: 0.8vw;
  width: 100%;
  margin-top: 3%;
  padding-left: 45%;
  color:blue;
}
