
.register-info{
  font-size: 1vw;
  line-height: 2vmax;
  letter-spacing: 0.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.register-pass-upload{
  font-size: 1vw;
  padding-left: 45%;
  margin-top:5vh;
  color: #0099e8;
  cursor: pointer;
}


.birthdate_date_box{
  // display: flex;
  width: 15vw;
  #profile_birthdate_1i,#profile_birthdate_2i,#profile_birthdate_3i{
    -webkit-appearance: none;
    margin: 3% 1%;
    width: 100%;
    height: 50px;
    border-radius:4px;
    border: 1px solid #ccc;
    line-height: 1.5;
    font-size: 1vw;
    cursor: pointer;
    background-color: #FFFFFF;
    padding-left: 11%;
  }
}

.info-size-small{
  margin:1vh 1vh;
  font-size: 0.95vw;
  color: gray;
  line-height: 2;
}

.form-group-birthdate {
  width: 11vw;
  display: flex;
}

.date-select-font{
  width: 1vw;
  line-height: 4.2;
  font-size: 1vw;
  margin-left:1vw;
  color: gray;

}
