
.register-info{
  font-size: 1vw;
  line-height: 2vmax;
  letter-spacing: 0.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.register-pass-upload{
  font-size: 0.8vw;
  margin-top: 3%;
  padding-left: 40%;
  color: #0099e8;
}
