.content{
  float:right;
  width:700px;
  padding-top:40px;
  margin-right:100px;
  .mypage-user{
    height:200px;
    padding:20px;
    text-align:center;
    background:url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?6820409);
    width:700px;
    margin-right:40px;
    .my-detail{
      width:60px;
      height:60px;
      margin:0 auto;
      border-radius:50%;
      background:url(https://static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png);
      padding-top:40px;
      .bold{
        font-weight:600;
        font-size:16px;
        padding-top:40px;
      }
    }
    .mypage-number{
      margin:8px 0 0;
      font-size: 0;
      .mypage-number-figure{
        font-size:16px;
        float:left;
        padding-left:250px;
        padding-top:40px;
        .bold{
      margin:0 0 8px;
      font-size: 16px;
      font-weight:600;
      padding-top:20px;
        }
      }
      .mypage-number-product{
        font-size:16px;
        float:right;
        padding-right:250px;
        padding-top:40px;
        .bold{
      margin:0 0 8px;
      font-size: 16px;
      font-weight:600;
        }
      }
    }
  }
  .mypage-tab-container-notification-todo{
    margin: 0;
    background:#fff;
    .mypage-tabs{
      border:0;
      background:#eee;
      font-size:16;
      height:74px;
      width:700px;
      .mail{
        background:white;
        width:50%;
        text-align:center;
        font-weight:600;
        font-size:16px;
        float:left;
        height:74px;
        width:350px;
        padding:30px;
        border-top:2px solid #ea352d;
        .mypage-nav-number{
        }
      }
      .do{
        background:#EEEEEE;
        width:50%;
        text-align:center;
        float:right;
        height:74px;
        width:350px;
        padding:30px;
        background:#DCDCDC;
        font-weight:600;
        font-size:16px;
      }
    }
  }
  .tab-content{
    margin:0;
    padding:0;
    border-width:0;
    margin-bottom:40px;
    .mypage-item-list{
      .mypage-item-link{
        color:#333;
        display:block;
        height:80px;
        width:700px;
        border-bottom:solid 1px #EEEEEE;
        position:relative;
        .picture{
          height:48px;
          width:48px;
          background:url(https://static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png);

        }
        .mypage-item-body{
          margin: 20px 50px 20px 50px;
          .mypage-item-text{
            .icon-time{

            }
          }
        }
        .icon-arrow-right{
          position:absolute;
          top:50%;
          right:16px;
          float:right;
          top:40%;
          display: block;
          width: 13px;
          height:13px;
          border-top:solid 3px #333333;
          border-right:solid 3px #333333;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .mypage-item-link-bottom{
        color:#333;
        display:block;
        height:90px;
        width:700px;
        border-bottom:solid 1px #EEEEEE;
        background:white;
        .mypage-go-list{
          font-size:16px;
          text-align:center;
          background:#DDDDDD;
          height:91.44px;
          width:700px;
        }
      }
    }
  }
  .mypage-tab-container{
    margin:40px 0 0;
    background-color:#fff;
    .mypage-tab-head{
      padding:0;
      background-color:#fafafa;
      font-size:16px;
      line-height:72px;
      font-weight:600;
      .mypage-tabs{
        border:0;
        background-color:#eee;
        font-size:0;
        font-weight:600;
      }
        .current-transaction{
          background:white;
          font-weight:600;
          font-size:16px;
          float:left;
          width:350px;
          text-align: center;
          border-top:2px solid #ea352d;
        }
        .past-transaction{
          background:#DCDCDC;
          font-weight:600;
          font-size:16px;
          float:right;
          width:350px;
          text-align:center;
        }
    }
  }
  .tab-content{
    margin:0;
    padding:0;
    height:400px;
    .mypage-item-list{
      display:block;
      .mypage-item-not-found{
        padding:300px 0 60px;
        text-align:center;
        font-size: 16px;
        color:#ccc;
        background:url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?6820409);
        background-repeat:no-repeat;
        background-position:center 200px;
        background-size: 78px 85px;
      }
    }
  }
}
