.side{
  float:left;
  width: 290px;
  padding-left:40px;
  .mypage-nav{
    padding:0;
    margin:0;
    overflow:scroll;
    .mypage-nav-list{
      padding-top:40px;
      .mypage-nav-list-item-gray{
        position: relative;
        display:block;
        height:46px;
        padding:16px;
        color:#333;
        background-color:white;
        margin-top:1px;
        background:#DDDDDD;
        font-weight:600;
        font-size:16px;
        .icon-arrow-right{
          position: absolute;
          float:right;
          top:40%;
          right:16px;
          display: block;
          width: 13px;
          height:13px;
          border-top:solid 3px #333333;
          border-right:solid 3px #333333;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .mypage-nav-list-item{
        position: relative;
        display:block;
        height:46px;
        padding:16px;
        color:#333;
        background-color:white;
        margin-top:1px;
        .icon-arrow-right{
          position: absolute;
          float:right;
          top:40%;
          right:16px;
          display: block;
          width: 13px;
          height:13px;
          border-top:solid 3px #EEEEEE;
          border-right:solid 3px #EEEEEE;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
  .mypage-nav-head{
    margin:40px 0 0;
    font-size: 16px;
    .mypage-nav-list{
      margin:8px 0 0;
      .mypage-nav-list-item{
        position:relative;
        display:block;
        min-height:48px;
        padding:16px;
        background-color:#fff;
        color:#333;
        margin-top:1px;
        .icon-arrow-right{
          position:absolute;
          top:40%;
          right:16px;
          display: block;
          width: 13px;
          height:13px;
          border-top:solid 3px #EEEEEE;
          border-right:solid 3px #EEEEEE;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .mypage-nav-list-item-head{
        font-weight:600;
        .icon-arrow-right{
          position:absolute;
          top:50%;
          right:16px;
        }
      }
    }
  }
}
