.side{
  float:left;
  width: 280px;
  margin:0 40px 0 0;
  .mypage-nav{
    padding:0;
    margin:0;
    .mypage-nav-list{
      .mypage-nav-list-item{
        .icon-arrow-right{

        }
      }
    }
  }
  .mypage-nav-head{
    .mypage-nav-list{
      .mypage-nav-list-item{
        .icon-arrow-right{

        }
      }
    }
  }
}
