
.credir_card{
  margin-top:5vh;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  cursor: pointer;
  text-align: center;
  }

.date_select{
  width: 8vw;
  height: 8vh;
  #payment_expiration_date_1i {
    width: 100%;
    height: 100%;
  }
}

.card-png{
  width: 20vw;
  margin-top: 0.3vh;
}

.card-indo{
  font-size: 0.8vw;
  width: 100%;
  margin-top: 3%;
  color: #0099e8;
  cursor: pointer;
}

.expiration_date_box{
  #payment_expiration_date_1i,#payment_expiration_date_2i{
    -webkit-appearance: none;
    width: 35%;
    min-width: 60px;
    height: 50px;
    padding: 10px 16px 8px;
    border-radius:4px;
    border: 1px solid #ccc;
    line-height: 1.5;
    font-size: 1vw;
    cursor: pointer;
    background-color: #FFFFFF;
  }
}

.expiration_date_box__text {
  width: 10%;
  display: inline-block;
  text-align: center;
}

.expiration_date_box__wrap {
  position: relative;
}

.payment-select-icon {
  position: absolute;
  left: 28%;
  top: 56%;
  z-index: 2;
  color: #888;
  font-size: 24px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.progress-right-red{
  @include progress-right-red
}

.progress-wside-gray{
   @include progress-wside-gray
}

.progress-wside-red{
   @include progress-wside-red
}

.progress-left-gray{
   @include progress-left-gray
}
