// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.credir_card{
  margin-top:5vh;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  cursor: pointer;
  text-align: center;
  }

.date_select{
  width: 8vw;
  height: 10vh;
  #payment_expiration_date_1i {

    width: 100%;
    height: 100%;
  }
}

#payment_expiration_date_2i {
}
