.register__container
  .register__container__header
    = image_tag "logo.svg", class:"campany-logo", alt:"メルカリロゴ"
  .breadcrumbs-header-contener
    .breadcrumbs-header
      - breadcrumb :signout
      = breadcrumbs separator: " &rsaquo; "

  %main.register-main
    %section.register-main__container
      %h2.register-main__header__login ログアウト画面

      .register-inner
        .register-inner__content
          .actions
            .sign-out-btn
              = link_to "サインアウト", destroy_user_session_path, method: :delete

  .register__container__footer
    = image_tag "logo-gray.svg", class:"campany-logo-gray", alt:"メルカリロゴgray"
