.l-side {
  width:280px;
  margin: 0 40px 0 0;
  float: left;
  color: #333;
}

.mypage-nav-head {
  margin: 40px 0 0;
  font-weight: 600;
  color: #333;
}

.mypage-nav__list {
  margin: 8px 0 0;
  list-style: none;
  &--item {
    position: relative;
    display: block;
    min-height: 48px;
    padding: 16px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    border: solid 1px #eee;
  }
  &--item:first-child{
    border: solid 1px #eee;
    border-bottom: 0;
  }
  &--item .fa-angle-right {
    position: absolute;
    right: 16px;
    color: #ccc;
    font-size: 20px;
  }
}

.mypage-nav__list:first-child {
  margin: 0;
}


.mypage-nav__list .active {
  font-weight: 600;
  background-color: #eee;
}
