.product-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  &__logo {
    display: block;
    width: 80px;
    height:65px;
    margin: 40px auto 0;
  }
  & li {
    font-size: 12px;
    display: inline;
    margin: 0 8px 0 8px;
  }
  & p {
    margin: 10px 0 0;
    font-size: 12px;
  }
  & a {
    color: #333333;
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
    opacity: 0.5;
  }
}
