.product-header {
  height: 128px;
  width: 100%;
  text-align: center;
  .product-header__logo {
    margin-top: 40px;
    width: 185px;
    height: 49px;
    text-align:center;
  }
  .product-header__logo:hover {
    opacity: 0.5;
  }
}
