@import "config/reset";
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
@import 'mixin/user_registration_common_parts';
@import 'users/session_new';
@import 'users/registration_select';
@import 'users/users';
@import 'users/logout';
@import "profiles/profiles";
@import "payments/payments";
@import './independence';
@import './main-header';
@import './main-footer';
@import './top-body';
@import 'product-header';
@import 'product-footer';
@import 'sell';
@import 'buy';
@import './products';
@import './slider-pro';
@import 'mypage/mypage';
@import 'mypage/content';
@import 'mypage/side';
@import 'modules/_flash';
@import 'modules/breadcrumbs-hedaer-contener';
@import 'modules/global-banner';
@import 'users/register-edit';
@import 'search';

* { box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
