@import "config/reset";
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
@import "mixin/devise_users";
@import "devise_users/registrations/users";
@import "devise_users/registrations/signout";
@import "payments/payments";
@import "profiles/profiles";
@import "devise_users/registrations/index";
@import "devise_users/sessions/new";
@import './independence';
@import './main-header';
@import './main-footer';
@import './top-body';
@import 'mypages/mypage';
@import 'mypages/side';
@import 'mypages/content';
@import "font-awesome";
@import 'product-header';
@import 'product-footer';
@import 'sell';
@import 'buy';


* { box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
