@import "config/reset";
@import "mixin/devise";
@import "users/registrations/users";
@import "payments/payments";
@import "profiles/profiles";
@import "users/registrations/index";
@import "users/sessions/new";
@import './independence';
@import './main-header';
@import './main-footer';
@import './top-body';
@import 'config/content.scss';
@import 'config/side.scss';
@import 'config/mypage.scss';


* { box-sizing: border-box;
}

a { text-decoration: none;
}
