* {
	box-sizing: border-box;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

body {
	font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}


// --------------------商品カード--------------------
@mixin item-box{
  .body-items-box__box-head {
		padding: 24px 0 8px;
		font-size: 22px;
		font-weight: bold;
	}
	.body-items-box__item-box:nth-child(5n+1) {
		margin-right: 0;
	}
	.body-items-box__item-box {
		margin: 0 20px 20px 0px;
		width: 188px;
		display: inline-block;
		background-color: #fff;

		&--link {
			display: block;
			text-decoration: none;
			color: black;
		}

		.item-box-photo {
			width: 188px;
			height: 188px;

			&__img {
				width: 100%;
				height: 100%;
			}
		}
		.item-box-body {
			padding: 16px;
			height: 110px;

			&__name {
				overflow: hidden;
				height: 3em;
				line-height: 1.5;
				position: relative;
				font-size: 16px;
			}
			&__name:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 50%;
				height: 1.5em;
				background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
			}
			&__num {
				margin: 8px 0 0;

				&--price {
					font-size: 18px;
					font-weight: 550;

				}
				&--tax {
					font-size: 10px;
				}
			}
		}
	}
}
// ---------------------------------------------------

// ----------------------出品ボタン------------------------
.footer-sell-btn {
	position: fixed;
	bottom: 32px;
	right: 32px;
	width: 160px;
	height: 160px;
	font-size: 22px;
	border-radius: 50%;
	color: #fff;
	background-color: #ea352d;
	z-index: 1000;
	text-align: center;
	text-decoration: none;

	div {
		margin: 32px 0 0;
	}
	.fa-camera {
		margin: 8px 0 0;
		font-size: 60px;
	}
}
// -------------------------------------------------------