.global-footer {
	background-color: #212121;
	color: white;
	padding: 60px 0;
	text-align: center;
	display: block;
	font-size: 0;

	&__item-box {
		display: block;
	}

	&__footer-nav {
		margin: 0 auto;
		width: 1020px;
	}

	&__footer-head {
		font-size: 16px;
		line-height: 1.4;
		font-weight: bold;
	}
	&__footer-cell:last-child {
		margin-right: 0;
	}
	&__footer-cell {
		display: inline-block;
		width: 23%;
		margin-right: 2%;
		vertical-align: top;
	}
	.global-footer-list:first-child {
		margin-top: 24px;
	}
	.global-footer-list {
		margin-top: 16px;

		&__list-link {
			text-decoration: none;
			color: #fff;
			font-size: 14px;
			display: block;

			&--country {
				font-size: 13px;
				opacity: .3;
			}

			&:hover {
				opacity: .7;
				text-decoration: underline;
			}

			.country-logo {
				margin-right: 8px;
				width: 22px;
				height: 22px;
				vertical-align: middle;
			}
		}
	}
	&__mercari-logo {
		display: block;
		margin-top: 40px;

		&:hover {
			opacity: .7;
		}
	}
	&__copyright {
		text-align: center;
		margin-top: 8px;
		font-size: 13px;
		font-family: inherit;
	}
}