.global-header {
	display: block;
	background-color: #fff;
	color: #333;

	&__inner {
		width  : 1020px;
		padding: 8px 0 0;
		margin : 0 auto;

		.global-header-up {
			width: 100%;

			&__link {
				display: block;
				float  : left;
				.mercari-logo {
				width         : 134px;
				height        : 36px;
				vertical-align: middle;
				}
			}
			.basic-form {
				float   : right;
				position: relative;
				width   : calc(100% - (134px + 16px));
				&__search {
					width           : 100%;
					height          : 36px;
					font-size       : 16px;
					font-family     : inherit;
					padding         : 10px 32px 9px 8px;
					background-color: #fafafa;
					border          : 1px solid #ccc;
					border-radius   : 4px;
					transition      : all ease-in .3s;
				}
				&__search-submit {
          display:none;
				}
				.search-icon {
					position   : absolute;
					top        : 0;
					right      : 0px;
					width      : 36px;
					line-height: 36px;
					text-align : center;
					font-size  : 15px;
				}
			}
		}
		.global-header-down {
			width     : 100%;
			margin-top: 8px;

			.product-search {
				float: left;

				.product-search-list {
					display  : block;
					font-size: 0;

					&__list-item {
						display     : inline-block;
						height      : 38px;
						line-height : 32px;
						padding-left: 16px;

						&:first-child {
							padding: 0;
						}

						&--item-link {
							text-decoration: none;
							font-weight    : 400;
							font-size      : 14px;
							display        : block;
							height         : 38px;
							color          : #333;
						}
					}
				}
			}
			.user-sign {
				float: right;

				.user-sign-list {
					display: block;
					&__list-item-red {
						display    : inline-block;
						height     : 32px;
						line-height: 32px;

						&--item-link {
							border          : 1px solid #ea352d;
							border-radius   : 4px;
							background-color: #ea352d;
							color           : #fff;
							text-decoration : none;
							font-size       : 14px;
							display         : block;
							height          : 32px;
							padding         : 0 10px;

							&:hover {
								opacity         : 1;
								transition      : all ease-out .3s;
								background-color: #e62017;
							}
						}
					}
					&__list-item-blue {
						display    : inline-block;
						height     : 32px;
						line-height: 32px;
						margin-left: 8px;

						&--item-link {
							text-decoration : none;
							font-size       : 14px;
							display         : block;
							height          : 32px;
							border          : 1px solid #0099e8;
							border-radius   : 4px;
							padding         : 0 10px;
							background-color: #fff;
							color           : #0099e8;

							&:hover {
								opacity         : 1;
								background-color: #0099e8;
								color           : #fff;
								transition      : all ease-out .3s;
							}
						}
					}
				}
			}
			.user-menu {
				float: right;
				&__list {
					&--figure {
				    display: inline-block;
				    position: relative;
				    width: 32px;
				    height: 32px;
				    margin: 0 auto;
				    vertical-align: middle;
					}
					&--figure div {
						overflow: hidden;
    				border-radius: 50%;
					}
					&--figure img {
						width: 32px;
						vertical-align: top;
					}
					&--mypage {
				    display: inline-block;
				    margin: 0 0 0 8px;
				    font-size: 14px;
				    vertical-align: middle;
					}
				}
				&__list a {
					display: block;
				}
				&__list a:hover {
					color: #0099e8;
				}
				&__list li {
					position: relative;
			    display: inline-block;
			    padding: 0 0 0 16px;
			    vertical-align: middle;
			    font-size: 14px;
			    font-weight: 400;
			    line-height: 32px;
				}
				&__list li:first-child {
			    padding: 0;
				}
				&__list span {
			    font-weight: 400;
				}
			}
		}
	}
}
