* {
  box-sizing: border-box;
}

body {
font-family: "Source Sans Pro", "Helvetica", Arial, "游ゴシック体", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.outer {
  width: 100%;
  background-color: #f5f5f5;
}

// ヘッダー
.sell-header {
  height: 128px;
  width: 100%;
  text-align: center;
  .sell-header__logo {
    margin-top: 40px;
    width: 185px;
    height: 49px;
    text-align:center;
  }
  .sell-header__logo:hover {
    opacity: 0.5;
  }
}
// ヘッダー終わり

// 本体
.sell-main {
  display: block;
  color: #333333;
  .sell-main__container {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
  }
}

.form-group {
  margin: 40px 0 0;
  text-align: left;
}
.form-group:first-child {
  margin: 0;
}

.sell-container {
  text-align: center;
  .sell-container__head {
    color: #333333;
    padding: 32px 16px;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
  }
}

.sell-content {
  padding: 40px;
  border-top: 1px solid #eeeeee;
}

.sell-content__label {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  text-align: left;
}

.select-default {
  width: 100%;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: #333333;
}

// 画像アップロード
.sell-upload {
  padding: 40px;
  text-align: left;
  border-top: 1px solid #eeeeee;
  .sell-upload__head {
    font-size: 16px;
    font-weight: 600;
  }
  .sell-upload__option {
    font-size: 14px;
    line-height: 21px;
    margin: 8px 0 0;
    line-height: 1.5;
  }
}

.sell-upload__dropbox {
  width: 100%;
  margin: 16px auto 0;
  padding: 40px;
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
}

pre {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 600;
  font-family: monospace,monospace;
}

.file {
  display: none;
}

// 商品名登録
.sell-content__info {
  .sell-content__info--name-form {
    width: 100%;
    margin: 8px 0 0;
    font-size: 16px;
    line-height: 24px;

    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  .sell-content__info--detail-form {
    margin: 8px 0 0;
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    height: 166px;
  }
}


.sell-sub-head {
  color: #888;
  font-size: 14px;
  font-weight: 700;
  float: left;
}

// カテゴリー
.sell-content__detail {
  width: 400px;
  margin: 0;
  float: right;
}

.select-wrap {
  margin: 8px 0 0;
}

// 金額関係
.l-right {
  float: right;
}
.l-left {
  float: left;
}
.bold {
  font-weight: 600;
}

.sell-content__label.l-left {
  line-height: 48px;
}

.sell-content__price--input {
  text-align: right;
  font-size: 14px;
}
.sell-content__price--input div{
  display: inline-block;
  width: 80%;
  margin: 0 0 0 5%;
}

.sell-content__price--input-form {
  width: 100%;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  text-align: right;
}

.sell-content__price li {
  padding: 24px 0;
  border-top: 1px solid #ccc;
}
.sell-content__price li:first-child {
  padding: 0 0 24px;
  border: 0;
}

.sell-content__price .normal {
  font-size: 14px;
  line-height: 14px;
}

.sell-content__price .bold .l-right {
  font-size: 34px;
  line-height: 34px;
}



// 送信ボタン
.sell-content__btn {
  line-height: 1.5;
  .sell-content__btn--detail {
    text-align: left;
    line-height: 21px;
    font-size: 14px;
    color: #333333;
    .sell-content__btn--detail-link {
      color: #0099e8;
      font-size: 14px;
      text-decoration: none;
    }
    .sell-content__btn--detail-link:hover {
      text-decoration: underline;
    }
  }
  .sell-content__btn--submit {
    margin: 40px 0 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
  }
  .sell-content__btn--back {
    display: block;
    width: 45%;
    margin: 24px auto 0;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    line-height: 48px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.5s ;
  }
  .sell-content__btn--back:hover {
    opacity: 0.7;
  }
}

.form-require {
  background-color: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  font-weight: 600;
}
.form-optional {
  background-color: #cccccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  font-weight: 600;
}
// 本体終わり


// フッター
.sell-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  .sell-footer__logo {
    display: block;
    width: 80px;
    height:65px;
    margin: 40px auto 0;
  }
}

.sell-footer li {
  font-size: 12px;
  display: inline;
  margin: 0 8px 0 8px;
}

.sell-footer p {
  margin: 10px 0 0;
  font-size: 12px;
}

.sell-footer a {
  color: #333333;
  text-decoration: none;
}
.sell-footer a:hover {
  text-decoration: underline;
  opacity: 0.5;
}
// フッター終了
