.sp-button {
    position: relative;
    bottom: 45px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    height: 12px;
    margin-right: 10px;
    width: 12px;
    opacity: .4;
}
.sp-selected-button {
  border: none;
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
}
