.pickup-container {
	background-color: #f5f5f5;
	text-align: center;
  color: #333333;
  h2 {
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
  }
  .global-banner {
    height: 260px;
    background-image: image-url("banner.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
  }
	.item-box__container {
		width: 940px;
		margin: 0 auto ;

		.body-items-box{
			width: 100%;
			margin: 0 auto;
			font-size: 0;
			text-align: left;

	    h3 {
	    text-align: center;
			margin: 24px 11px;
			font-size: 22px;
			font-weight: bold;
			}
			h3 a {
				color: #0099e8;
    		text-decoration: none;
			}
			h3 a:hover {
				text-decoration: underline;
			}
			.body-items-box__item-box:nth-child(5n+1) {
				margin-right: 0;
			}
			@include item-box__top;
			.view-all {
				width: 99.5%;
				padding: 20px 0 30px;
				text-align: right;
			}
			.view-all a {
				color: #0099e8;
				font-size: 14px;
			}
			.view-all a:hover {
				text-decoration: underline;
			}
      .no-item {
        width: 100%;
        height: 100px;
        text-align: center;
        font-size: 26px;
        line-height: 100px;
      }
      .last-item {
        margin-bottom: 26px;
      }
		}
	}
}
