.body-container
	%main.main-body
		%div
			%section.body-items-box
				%h2.body-items-box__box-head 全商品一覧
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11808657783_1.jpg?1550730138", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m58860867172_1.jpg?1550841459", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m30500746248_1.jpg?1551362557", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)
				%section.body-items-box__item-box
					%a.body-items-box__item-box--link{href: "#"}
						%figure.item-box-photo
							%img.item-box-photo__img{src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821", alt: "photo"}
						.item-box-body
							%h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
							.item-box-body__num
								.item-box-body__num--price ¥ 1,190
								%p.item-box-body__num--tax (税込)

