%main.mypage-user-icon.clearfix
  .content
    %section.mypage-user-icon
      %figure
        %h2.bold
          名前
        .mypage-number
          .mypage-number-figure
            評価
            %span.bold
              0
          .mypage-number-product
            出品数
            %span.bold
              0
    %section.mypage-tab-container-notification-todo
      %ul.mapage-tabs
        %li.mail
          %h3
            お知らせ
            %span.mypage-nav-number.hidden-large
              お知らせの数
        %li.do
          %h3
            やることリスト
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list
          %li
            %figure
            .mypage-item-body
              .mypage-item-text
                通知
                %time
                  %i.icon-arrow-right
          %li.mypage-go-list
            一覧を見る
      %ul.#mypage-tab-todo.maypage-item-list
        %li.mypage-item-not-found.bold
          現在やるリストはありません
    %section.mypage-tab-container
      %h2.mypage-tab-head
        購入した商品
        %ul.mypage-tabs
          %li.current-transaction
            %h3
              現在取引中
          %li.past-transaction
            %h3
              過去の取引
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list
            %li.mypage-item-not-found.bold
              現在取引中の商品がありません
          %ul#mypage-tab-transaction-old.mypage-item-list
            %li.mypage-item-not-found.bold
              過去の取引した商品はありません
  .side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item-gray
            マイページ
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            お知らせ
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            やることリスト
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            いいね！一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            出品する
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            出品した商品 - 出品中
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            出品した商品 - 取引中
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            出品した商品 - 売却済み
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            購入した商品 - 取引中
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            購入した商品 - 過去の取引
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            購入した商品 - 過去の取引
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            ニュース一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            評価一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            ガイド
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            お問い合わせ
            %i.icon-arrow-right
    %h3.mypage-nav-head
      メルペイ
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item
            売上・振込申請
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            ポイント
            %i.icon-arrow-right
    %h3.mypage-nav-head
      設定
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item
            プロフィール
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            発送元・お届け先住所変更
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            お支払い方法
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            メール/パスワード
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            本人情報
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            電話番号の確認
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item
            ログアウト
            %i.icon-arrow-right
