$light_red: #ea352d;
$light_gray: #ccc;
$white_gray: #f5f5f5;
$white: #FFFFFF;
// メルカリロゴ（赤）ーーーーーーーーーーーーーーー

@mixin campany-logo{
  width: 13vw;
  cursor: pointer;
}

// ーーーーーーーーーーーーーーーーーーーーーーー

// 会員登録ページ ヘッダー ーーーーーーーーーーー

@mixin register__container{
  height: 100%;
  width: 100%;
  background-color: $white_gray;
  &__header{
    height: 15%;
    display: flex;
    justify-content: center;
  }
}

// 会員登録ページ フッター ーーー

@mixin register__container__footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  .campany-logo-gray{
    width: 100px;
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーーーー

// 会員情報登録の進捗バー部分  ーーーーーーーーーーー

@mixin progress-bar{
  .clearfix{
    display: flex;
    .activ-box{
      width: auto;
      display: flex;
      align-items: center;
      margin:2vw 2vw 1vw 2vw;
      .active{
        font-size: 0.9vw;
        margin:auto auto 20px auto;
        font-weight: 600;
        color: $light_gray;
        cursor: pointer;
      }
    }
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーーー

// 進捗情報の文字を赤色に入れる処理-------------

@mixin active-red{
  font-size: 0.9vw;
  margin:auto auto 20px auto;
  font-weight: 600;
  color: #ea352d;
  cursor: pointer;
  margin:auto auto 20px auto;
  font-weight: 600;
  color: $light_red;
  cursor: pointer;
}

// ----------------------------------------

// 進捗情報の丸印の部分を赤色にする処理

@mixin progress-status-red{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: $light_red;
  border-radius: 50%;
  position:relative;
  &:before{
    position:absolute;
    border-bottom:solid 2px $light_red;
    content:'';
    width:65px;
    height:6px;
    margin-left:12px;
  }
  &:after{
    position:absolute;
    border-bottom:solid 2px $light_red;
    content:'';
    width:65px;
    height:6px;
    right:100%;
  }
}


// -----------------------------------------
// 進捗状況の丸印の部分(1番目)---------------

@mixin progress-status-first{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: $light_red;
  border-radius: 50%;
  position:relative;
  &:after{
    position:absolute;
    border-bottom:solid 2px $light_red;
    content:'';
    width:65px;
    height:6px;
    margin-left:12px;
  }
}
// ------------------------------------------

// 進捗状況の丸印の部分(2.3.4番目)  ーーーーーーーーーーーーー

@mixin progress-status{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: $light_gray;
  border-radius: 50%;
  position:relative;
  &:before{
    position:absolute;
    border-bottom:solid 2px $light_gray;
    content:'';
    width:65px;
    height:6px;
    margin-left:12px;
  }
  &:after{
    position:absolute;
    border-bottom:solid 2px $light_gray;
    content:'';
    width:65px;
    height:6px;
    right:100%;
  }
}
// ーーーーーーーーーーーーーーーーーーーーーーーー

// 進捗状況の丸印の部分(5番目)---------------

@mixin progress-status-last{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: $light_gray;
  border-radius: 50%;
  position:relative;
  &:before{
    position:absolute;
    border-bottom:solid 2px $light_gray;
    content:'';
    width:65px;
    height:6px;
    right:100%;
  }
}
// ------------------------------------------

// 会員情報登録のセンター部分の枠 ーーーーーーーー

@mixin register-main{
  width: 50vw;
  height: auto;
  background-color: $white;
  margin:auto;
  margin-bottom: 80px;
  padding-bottom: 50px;
  &__container{
    width: 100%;
    height: 100%;
    &--header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5vw;
    height:10%;
    text-align: center;
    border-bottom: 1px solid $white_gray;
    padding:50px 0px;
    }
    .register-inner{
    width: 45%;
    margin:auto;
    line-height: 3;
    padding-top:5%;
      &__content{
      }
    }
  }
}

// ーーーーーーーーーーーーーーーーーーーーーー

 // 会員情報入力欄 ーーーーーーーーーーーーーー

@mixin input-default{
  width: 100%;
  height: 60px;
  padding: 10px 16px 8px;
  border-radius:4px;
  border: 1px solid $light_gray;
  background: #fff;
  line-height: 1.5;
  font-size: 1vw;
  cursor: pointer;
}

// ーーーーーーーーーーーーーーーーーーーーーー

// 会員情報入力欄 セット ーーーーーーーーーーー

@mixin form-group{
  // padding-bottom: 30px;
  .registration_font{
    font-weight: 600;
    font-size: 1vw;
  }
  .require-icon{
    padding: 0.3vw;
    background: $light_red;
    margin: 0.2vw;
    border-radius: 2px;
    color: $white;
    font-size: 0.9vw;
  }
  .optional-icon{
    padding: 0.3vw;
    background: #808080;
    margin: 0.2vw;
    border-radius: 2px;
    color: $white;
    font-size: 0.9vw;
  }
  .input-default{
    @include input-default
  }
}

// ーーーーーーーーーーーーーーーーーーー

// 必須のアイコン ーーーーーーーーーーー

@mixin require-icon{
  padding: 0.3vw;
  background: $light_red;
  margin: 0.2vw;
  border-radius: 2px;
  color: $white;
  font-size: 0.9vw;
}

// ーーーーーーーーーーーーーーーーーーー

// 任意のアイコン ーーーーーーーーーーー

@mixin optional-icon{
  padding: 0.3vw;
  background: $white_gray;
  margin: 0.2vw;
  border-radius: 2px;
  color: $white;
  font-size: 0.9vw;
}

// ーーーーーーーーーーーーーーーーーーー

// 会員情報入力欄 文字 ーーーーーーーーー

@mixin registration_font{
  font-weight: 600;
  font-size: 1vw;
}

// ーーーーーーーーーーーーーーーーーーー

// 次へ進むボタン  ーーーーーーーーーーー

@mixin register-member{
  margin-top:5vh;
  background: $light_red;
  border: 1px solid $light_red;
  color: $white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  cursor: pointer;
  text-align: center;
  }

// ーーーーーーーーーーーーーーーーーーーー

// 新規登録ボタン  ーーーーーーーーーーー

@mixin sign-up-btn{
  margin-top: 3vh;
  margin-bottom: 3vh;
  background: 0099e8;
  border: 1px solid $light_red;
  color: $white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  cursor: pointer;
  text-align: center;
  }

// ーーーーーーーーーーーーーーーーーーーー

// 変更ボタン  ーーーーーーーーーーー

@mixin edit-btn{
  margin-top: 3%;
  background: $light_red;
  border: 1px solid $light_red;
  color: $white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  cursor: pointer;
  text-align: center;
  }

// ーーーーーーーーーーーーーーーーーーーー


// ログアウトボタン  ーーーーーーーーーーー

@mixin sign_out-btn{
  margin-top: 3%;
  background: $light_red;
  border: 1px solid $light_red;
  color: $white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  cursor: pointer;
  text-align: center;
  }

// ーーーーーーーーーーーーーーーーーーーー


@mixin log-out-btn--mini{
  margin-top:5vh;
  background: $light_red;
  border: 1px solid $light_red;
  color: $white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  cursor: pointer;
  text-align: center;
  }

// メールアドレスで登録ボタン  ーーーーーーーーーーー

@mixin mail-address-btn{
  margin-top:3vh;
  background: #eeeeee;
  border: 1px solid #eeeeee;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  color: black;
  cursor: pointer;
  text-align: center;
  }

// ーーーーーーーーーーーーーーーーーーーーーーー

// Facebookで登録ボタン  ーーーーーーーーーーー

@mixin facebook-btn{
  margin-top: 3vh;
  margin-bottom: 3vh;
  background: #385185;
  border: 1px solid #385185;
  color: $white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  cursor: pointer;
  text-align: center;
  }

// ーーーーーーーーーーーーーーーーーーーーーーー

// googleで登録ボタン  ーーーーーーーーーーー

@mixin google-btn{
  margin-top: 3vh;
  margin-bottom: 8vh;
  background: $white;
  border: 1px solid #696969;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  color: black;
  cursor: pointer;
  text-align: center;
  }

// ーーーーーーーーーーーーーーーーーーーーー

// クレジットカード決済ボタン  ーーーーーーーーーーー

@mixin credir_card{
  margin-top: 3vh;
  margin-bottom: 3vh;
  background: $light_red;
  border: 1px solid $light_red;
  color: $white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.9vw;
  cursor: pointer;
  text-align: center;
  }

// ーーーーーーーーーーーーーーーーーーーー
