.breadcrumbs-header-contener
  .breadcrumbs-header
    - if params[:controller] == 'products' && params[:action] == 'show'
      - breadcrumb "products_category_#{@product.category.depth}".to_sym
    - elsif params[:controller] == 'products' && params[:action] == 'search'
      - breadcrumb 'search'.to_sym
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "
